<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RecepcaoEventoSoap">
                  <security mode="Transport">
                      <transport clientCredentialType="Certificate" proxyCredentialType="None"/>
                  </security>
                        
                </binding>
                <binding name="RecepcaoEventoSoap1" />
                <binding name="NfeDownloadNFSoap">
                    <security mode="Transport" >
                        <transport clientCredentialType="Certificate" proxyCredentialType="None" />
                    </security>
                      
                </binding>
                <binding name="NfeDownloadNFSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.nfe.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx"
                binding="basicHttpBinding" bindingConfiguration="RecepcaoEventoSoap"
                contract="NfeRecepcao.RecepcaoEventoSoap" name="RecepcaoEventoSoap" />
            <endpoint address="https://www.nfe.fazenda.gov.br/NfeDownloadNF/NfeDownloadNF.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeDownloadNFSoap"
                contract="NfeDownloadNF.NfeDownloadNFSoap" name="NfeDownloadNFSoap" />
        </client>
    </system.serviceModel>
</configuration>